// Define your variable overrides here
$enable-shadows: true;
$enable-gradients: true;
$grid-breakpoints: (
    xs: 0,
    sm: 456px,
    md: 789px,
    lg: 999px,
    xl: 1234px
);
$bv-enable-table-stacked: false;


$personalBlue: #90acd1 !default;
$personalOrange: #ffa260 !default;
$personalRed: #f52c2c;

// Toasts
$toast-background-color: rgba($personalRed, .85) !default;
$toast-border-width: 3px !default;
$toast-border-color: #878787 !default;


$toast-max-width: 350px !default;
$toast-padding-x: .75rem !default;
$toast-padding-y: .25rem !default;
$toast-font-size: .875rem !default;

$toast-color: #878787 !default;

$toast-border-radius: .25rem !default;


$theme-colors: () !default;
$theme-colors: map-merge(
        (
            "personalBlue": $personalBlue,
            "personalOrange": $personalOrange,
            "personalRed": $personalRed,
        ),
        $theme-colors
);


// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

// General style overrides and custom classes


