<template>
    <div class="back-to-top-btn"
         v-show="visible"
         @click="scrollTop">
        <img :src="'/img/arrow-up.png'">
    </div>
</template>

<script>
    export default {
        name: "BackToTop",
        data() {
            return {
                visible: false
            }
        },
        methods: {
            scrollTop: function () {
                window.scroll(0, 0);
            },
            scrollListener: function (e) {
                this.visible = window.scrollY > 150
            }
        },
        mounted: function () {
            window.addEventListener('scroll', this.scrollListener)
        },
        beforeDestroy: function () {
            window.removeEventListener('scroll', this.scrollListener)
        }
    }
</script>

<style scoped>
    .back-to-top-btn {
        position: fixed;
        bottom: 3%;
        right: 6%;
        background-color: #90acd1;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        cursor: pointer;
        z-index: 5;
        transition: .3s;
    }

    .back-to-top-btn:hover {
        box-shadow: inset -50px 0 0 0 #ffa260;
    }

    img {
        width: 25px;
        height: 25px;
        margin: 10px auto;
        display: block;
    }
</style>
