<template>
    <section id="resume">
        <h3>Resume</h3>

        <b-container>
            <b-row>
                <b-col md="9" cols="12">
                    <div id="scrollspy-wrapper">
                        <h4 id="experience">Experience</h4>

                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/experience.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">Present-2021</span>
                                <h5>Front-End Developer</h5>
                                <span class="position">Ajand Pardazesh Baman</span>
                            </div>
                        </div>

                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/experience.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">2020-2021</span>
                                <h5>Web Developer</h5>
                                <a href="https://tikkaa.ir" target="_blank"
                                   class="position resume-link transition">
                                    Tikkaa(Online Language Learning Platform)
                                </a>
                            </div>
                        </div>

                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/experience.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">2020-2018</span>
                                <h5>Web Developer</h5>
                                <span class="position">IRCodinG</span>
                            </div>
                        </div>

                        <h4 id="education">Education</h4>

                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/education.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">2015-2019</span>
                                <h5>Bachelor in Computer Engineering</h5>
                                <span class="position">Islamic Azad University</span>
                            </div>
                        </div>
                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/education.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">January 2019</span>
                                <h5>Laravel Framework</h5>
                                <span class="position">Sematec</span>
                            </div>
                        </div>
                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/education.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">September 2017</span>
                                <h5>PHP Programming Language</h5>
                                <span class="position">Sematec</span>
                            </div>
                        </div>
                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/education.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">June 2017</span>
                                <h5>Bootstarp & JQuery & Ajax</h5>
                                <span class="position">Tehran Institute of Technology</span>
                            </div>
                        </div>
                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/education.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">May 2017</span>
                                <h5>JavaScript</h5>
                                <span class="position">Tehran Institute of Technology</span>
                            </div>
                        </div>
                        <div class="resume-wrap transition d-flex">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img :src="'/img/resume/education.png'"
                                     width="25px">
                            </div>
                            <div class="text">
                                <span class="date">January 2017</span>
                                <h5>Web Design Fandamental</h5>
                                <span class="position">Tehran Institute of Technology</span>
                            </div>
                        </div>


                        <h4 id="skills">Skills</h4>

                        <b-container fluid class="skill-info">
                            <b-row>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>95%</span>
                                        <span>HTML</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="95"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>90%</span>
                                        <span>CSS</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="90"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>70%</span>
                                        <span>Javascript</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="70"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>60%</span>
                                        <span>JQuery</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="60"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>80%</span>
                                        <span>Bootstrap</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="80"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>60%</span>
                                        <span>Vue</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="60"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>30%</span>
                                        <span>PHP</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="30"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                                <b-col md="6" cols="12" class="pl-0 mb-3">
                                    <div class="progress-txt d-flex justify-content-between">
                                        <span>40%</span>
                                        <span>Laravel</span>
                                    </div>
                                    <b-progress max="100" height="6px">
                                        <b-progress-bar value="40"
                                                        variant="personalBlue"></b-progress-bar>
                                    </b-progress>
                                </b-col>
                            </b-row>
                        </b-container>

                    </div>
                </b-col>

                <b-col md="3" class="d-md-block d-none">
                    <b-navbar
                        v-b-scrollspy="{element: '#scrollspy-wrapper', offset: 50,method:'position'}"
                        class="scrollspy-menu">
                        <b-nav pills vertical>
                            <b-nav-item href="#experience">Experience</b-nav-item>
                            <b-nav-item href="#education">Education</b-nav-item>
                            <b-nav-item href="#skills">Skills</b-nav-item>
                        </b-nav>
                    </b-navbar>
                </b-col>
            </b-row>
        </b-container>

    </section>
</template>

<script>
    export default {
        name: "IndexResume",
        data() {
            return {
                value: 33.333333333,
                max: 50
            }
        }
    }
</script>

<style scoped>
    section {
        background-color: #fff;
        padding: 60px 0;
    }

    .skill-info .row {
        direction: ltr;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5rem;
        position: relative;
        line-height: .5;
    }

    h3:before, h3:after {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #ffa260;
    }

    h3:before {
        bottom: -31px;
        width: 100px;
        height: 2px;
    }

    h3:after {
        bottom: -35px;
        width: 10px;
        height: 10px;
        border-radius: 8px;
    }

    h4 {
        font-weight: bold;
        font-size: 22px;
        margin-bottom: 20px;
    }

    h5 {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 5px;
    }

    .date {
        font-weight: 700;
        font-size: 16px;
        color: #222222;
    }

    .position {
        color: #777777;
        font-size: 15px;
    }

    .position.resume-link {
        text-decoration: underline;
    }

    .position.resume-link:hover {
        color: #ffa260;
    }

    #scrollspy-wrapper::-webkit-scrollbar {
        width: 7px
    }

    #scrollspy-wrapper::-webkit-scrollbar-track {
        background: linear-gradient(to bottom, rgba(144, 172, 209, .4), rgba(249, 249, 255, .3), rgba(144, 172, 209, .4));
        opacity: .5;
        border-radius: 10px
    }

    #scrollspy-wrapper::-webkit-scrollbar-thumb {
        background: linear-gradient(to left, rgba(255, 162, 96, 1), rgba(255, 162, 96, .5));
        width: 20px;
        height: 20px;
        border-radius: 10px
    }

    .scrollspy-menu {
        position: sticky;
        left: 0;
        top: 110px;
    }

    .nav-pills .nav-link {
        color: #000;
        font-weight: bold;
        position: relative;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show > .nav-link {
        color: #90acd1;
        font-weight: bold;
        background-color: transparent;
    }

    .nav-pills .nav-link.active::after {
        position: absolute;
        top: 50%;
        left: -24px;
        width: 20px;
        height: 2px;
        content: "";
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        background: #90acd1;
    }

    .resume-wrap {
        width: 100%;
        margin-bottom: 30px;
        background-color: #f9f9ff;
        padding: 40px 30px;
        border-radius: 10px;
        direction: ltr;
    }

    .resume-wrap .icon {
        width: 50px;
        height: 50px;
        background: #90acd1;
        border-radius: 50%;
        margin-right: 2rem;
    }

    .transition {
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -ms-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .resume-wrap .icon span {
        color: #fff;
        font-size: 20px;
    }

    .resume-wrap .text {
        padding: 0 0 10px;
    }

    .progress {
        direction: ltr;
    }

    .progress-txt {
        font-weight: bold;
        font-size: 14px;
    }

    @media (max-width: 768px) {
        .resume-wrap {
            flex-direction: column;
        }

        .resume-wrap .icon {
            margin-bottom: 15px;
        }

        section {
            padding: 30px 0;
        }

        .resume-wrap {
            padding: 20px 30px;
        }
    }

    @media (min-width: 768px) {
        #scrollspy-wrapper {
            position: relative;
            overflow-y: auto;
            height: 300px;
            direction: ltr;
            scrollbar-color: #90acd1 rgba(144, 172, 209, .4);
        }
    }
</style>
