<template>
    <section id="about">
        <b-container>
            <b-row>
                <b-col cols="12" md="6"
                       order="2"
                       order-md="1"
                >
                    <h3>About Me</h3>
                    <p class="about-me">
                        I’m a Front End Developer. I have a Passion for Creating Clean, Beautiful, Interactive,
                        Minimalistic, Responsive and User Friendly UI, Developed by Modular, Scalable and Functional
                        Code.
                    </p>

                    <ul>
                        <li class="mb-2">
                            <span>Name:</span>
                            <span>Sara Ghaffari</span>
                        </li>
                        <li class="mb-2">
                            <span>Date of birth:</span>
                            <span>November 23, 1996</span>
                        </li>
                        <li class="mb-2">
                            <span>Email:</span>
                            <a href="mailto:saraghfri96@yahoo.com"
                               class="connection-way">
                                <span>saraghfri96@yahoo.com</span>
                            </a>
                        </li>
                        <li class="mb-2">
                            <span>Phone:</span>
                            <a href="tel:09128332015"
                               class="connection-way">
                                <span>+98912-833-2015</span>
                            </a>
                        </li>
                    </ul>

                    <a :href="'/resume/Sara Ghaffari.pdf'"
                       id="download-cv">Download CV</a>

                </b-col>
                <b-col cols="12" md="6"
                       order="1"
                       order-md="2">
                    <img :src="'/img/about/about-me.jpg'">
                </b-col>

            </b-row>
        </b-container>
    </section>
</template>

<script>
    export default {
        name: "AboutMe"
    }
</script>

<style scoped>
    section {
        background-color: #f9f9ff;
        padding: 60px 0;
    }

    img {
        width: 350px;
        border: 10px solid #90acd1;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: bold;
        margin-bottom: 50px;
        position: relative;
        line-height: .5;
    }

    h3:before, h3:after {
        content: "";
        position: absolute;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #ffa260;
    }

    h3:before {
        bottom: -31px;
        width: 100px;
        height: 2px;
        left: 9%;
    }

    h3:after {
        bottom: -35px;
        width: 10px;
        height: 10px;
        border-radius: 8px;
        left: 0;
    }

    ul li {
        list-style-type: none;
        display: flex;
        direction: ltr;
    }

    ul li span:first-child {
        font-weight: bold;
        width: 130px;
        direction: ltr;
    }

    ul li span:last-child {
        direction: ltr;
    }

    #download-cv {
        background: #90acd1;
        color: #fff;
        font-size: 16px;
        padding: 8px 25px;
        border-radius: 25px;
        transition: 0.3s;
        position: relative;
        display: block;
        width: 160px;
        margin-right: auto;
        margin-top: 50px;
        text-align: center;
    }

    #download-cv:hover {
        text-decoration: none;
        color: #fff;
        box-shadow: inset -160px 0 0 0 #ffa260;
    }

    .connection-way {
        color: #90acd1;
        transition: .3s;
        text-decoration: underline;
        direction: ltr;
    }

    .connection-way:hover {
        color: #ffa260;
        text-decoration: underline;
    }

    .about-me{
        direction: ltr;
    }

    @media (max-width: 1200px) {
        h3 {
            text-align: center;
        }

        h3:before, h3:after {
            left: 50%;
        }
    }

    @media (max-width: 768px) {
        img {
            display: flex;
            justify-content: center;
            margin: 0 auto 35px auto;
            width: 100%;
        }
    }

</style>
