<template>
    <section id="skill">
        <b-container>
            <b-row>
                <b-col lg="6" md="12"
                       order="2"
                       order-lg="1">
                    <transition name="component-fade" mode="out-in">
                        <skill-list v-if="selectedComponent==='skill-list'"></skill-list>
                        <tool-list v-else-if="selectedComponent==='tool-list'"></tool-list>
                    </transition>
                </b-col>
                <b-col lg="6" md="12"
                       order="1"
                       order-lg="2">
                    <div class="skill-info">
                        <h3>What My Programming
                            Skills Included?</h3>
                        <p>
                            I develop simple, intuitive and responsive user
                            interface that helps users get things done with
                            less effort and time with those technologies.
                        </p>
                        <!--                    <button @click="showSkills">Skills</button>-->
                        <!--                    <button @click="showTools">Tools</button>-->

                        <transition enter-active-class="animated fadeIn" leave-active-class="animated fadeOut"
                                    mode="out-in">
                            <div class="switch-btns">
                                <div class="switch-btn"
                                     :class="(selectedComponent==='skill-list'?'active-btn':'')"
                                     @click="setSelectedComponent('skill-list')">
                            <span
                                :class="(selectedComponent==='skill-list'?'active-skill-tool':'')">Skills</span>
                                </div>
                                <div class="switch-btn"
                                     :class="(selectedComponent==='tool-list'?'active-btn':'')"
                                     @click="setSelectedComponent('tool-list')">
                            <span
                                :class="(selectedComponent==='tool-list'?'active-skill-tool':'')">Tools</span>
                                </div>
                            </div>
                        </transition>
                    </div>

                </b-col>

            </b-row>
        </b-container>
    </section>
</template>

<script>
    import SkillList from "./SkillList";
    import ToolList from "./ToolList";

    export default {
        name: "IndexSkill",
        data() {
            return {
                selectedComponent: 'skill-list'
            }
        },
        methods: {
            setSelectedComponent(cmp) {
                this.selectedComponent = cmp;
            },
            // getSkillEl() {
            //     this.skillEl = document.getElementById('skill').offsetTop - document.body.scrollTop;
            //     this.$emit('pass-skill-el', this.skillEl);
            // }
        },
        components: {
            SkillList,
            ToolList
        }
    }
</script>

<style scoped>
    section {
        background-color: #fff;
        height: 60vh;
        display: flex;
        align-items: center;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: bold;
        direction: ltr;
    }

    p {
        direction: ltr;
    }

    .skill-icon, .tool-icon {
        background-color: #fff;
        box-shadow: 11px 10px 38px rgb(0 0 0 / 12%);
        border-radius: .63rem;
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .skill-icon img, .tool-icon img {
        width: 48px;
        height: 48px;
    }

    .skill-icons, .tool-icons {
        display: flex;
        justify-content: space-between;
    }

    .switch-btns {
        display: flex;
        background-color: #90acd1;
        border-radius: 25px;
        padding: 5px;
        width: 250px;
        margin-right: auto;
    }

    .switch-btn {
        position: relative;
        width: 170px;
        text-align: center;
        padding: 5px;
        cursor: pointer;
    }

    .active-btn {
        background-color: #f9f9ff;
        border-radius: 24px;
    }

    .switch-btns span {
        color: #fff;
    }

    .active-skill-tool {
        color: #000 !important;
    }

    .switch-btn span {
        font-weight: bold;
        margin: 0;
    }

    .component-fade-enter-active, .component-fade-leave-active {
        transition: opacity .3s ease;
    }

    .component-fade-enter, .component-fade-leave-to
        /* .component-fade-leave-active below version 2.1.8 */
    {
        opacity: 0;
    }

    @media (max-width: 990px) {
        .skill-info {
            margin-bottom: 30px;
        }
    }

    @media (max-width: 1200px) {
        section {
            height: unset !important;
            padding: 40px 0;
        }
    }
</style>
