<template>
    <section id="contact">
        <b-container>
            <h3>Contact Me</h3>

            <b-row>
                <b-col md="6" cols="12">
                    <form @submit.prevent="formSubmit">
                        <input type="hidden" name="_token" :value="csrf">
                        <b-row>
                            <b-col cols="12" lg="6">
                                <input type="text" name="name"
                                       v-model="contacts.name"
                                       class="mb-3"
                                       placeholder="Enter your name">
                            </b-col>
                            <b-col cols="12" lg="6">
                                <input type="email" name="email"
                                       v-model="contacts.email"
                                       class="mb-3"
                                       placeholder="Your email address">
                            </b-col>
                            <b-col cols="12">
                                <input type="text" name="title"
                                       v-model="contacts.title"
                                       class="mb-3"
                                       placeholder="Enter title">
                            </b-col>
                            <b-col cols="12">
                                <textarea name="message"
                                          v-model="contacts.message"
                                          class="mb-3"
                                          placeholder="Write your message"></textarea>
                            </b-col>
                            <b-col cols="12">
                                <b-button type="submit"
                                          :disabled="success">
                                    Send Message
                                </b-button>


                                <b-toast
                                    noCloseButton
                                    autoHideDelay="3000"
                                    id="general-error-toast"
                                    toaster="b-toaster-bottom-center"
                                    solid>
                                    Error in sending message
                                </b-toast>

                                <b-toast
                                    noCloseButton
                                    autoHideDelay="3000"
                                    id="name-error-toast"
                                    toaster="b-toaster-bottom-center"
                                    solid>
                                    {{nameError}}
                                </b-toast>

                                <b-toast
                                    noCloseButton
                                    autoHideDelay="3000"
                                    id="email-error-toast"
                                    toaster="b-toaster-bottom-center">
                                    {{emailError}}
                                </b-toast>

                                <b-toast
                                    noCloseButton
                                    autoHideDelay="3000"
                                    id="title-error-toast"
                                    toaster="b-toaster-bottom-center">
                                    {{titleError}}
                                </b-toast>

                                <b-toast
                                    noCloseButton
                                    autoHideDelay="3000"
                                    id="message-error-toast"
                                    toaster="b-toaster-bottom-center">
                                    {{messageError}}
                                </b-toast>

                                <b-toast
                                    autoHideDelay="3000"
                                    id="success-toast"
                                    noCloseButton
                                    toaster="b-toaster-bottom-center">
                                    Message Sent !
                                </b-toast>

                            </b-col>
                        </b-row>
                    </form>
                </b-col>
                <b-col md="6" cols="12">
                    <div class="social-row">
                        <div class="socail-img">
                            <img :src="'/img/contact/email.png'">
                        </div>
                        <div class="social-info">
                            <span>Email</span>
                            <a href="mailto:saraghfri96@yahoo.com"
                               class="connection-way">
                                <span>saraghfri96@yahoo.com</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-row">
                        <div class="socail-img">
                            <img :src="'/img/contact/phone.png'">
                        </div>
                        <div class="social-info">
                            <span>Phone</span>
                            <a href="tel:09128332015"
                               class="connection-way">
                                <span>+98912-833-2015</span>
                            </a>
                        </div>
                    </div>

                    <div class="social-row">
                        <div class="socail-img">
                            <img :src="'/img/contact/telegram.png'">
                        </div>
                        <div class="social-info">
                            <span>Telegram</span>
                            <a href="https://t.me/Sara_ghfri"
                               class="connection-way">
                                <span>@Sara_ghfri</span>
                            </a>
                        </div>
                    </div>
                </b-col>
            </b-row>
        </b-container>
    </section>
</template>

<script>
    export default {
        name: "IndexContact",
        data() {
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                contacts: {
                    name: "",
                    email: "",
                    title: "",
                    message: "",
                },
                isValid: false,
                success: false,
                nameError: '',
                emailError: '',
                titleError: '',
                messageError: '',
                generalError: ''
            }
        },

        methods: {
            formSubmit() {
                axios.post('/formSubmit', this.contacts)
                    .then(response => {
                        if (response.data === true) {
                            this.success = true;
                            this.$bvToast.show('success-toast');
                            this.resetForm();
                            this.timeout = setTimeout(() => {
                                this.success = false;
                            }, 60000);
                        } else {
                            this.$bvToast.show('general-toast');
                        }
                    }).catch(error => {
                    if (error.response.data.errors) {
                        if (error.response.data.errors.name) {
                            this.nameError = error.response.data.errors.name[0];
                            this.$bvToast.show('name-error-toast');
                        } else if (error.response.data.errors.email) {
                            this.emailError = error.response.data.errors.email[0];
                            this.$bvToast.show('email-error-toast');
                        } else if (error.response.data.errors.title) {
                            this.titleError = error.response.data.errors.title[0];
                            this.$bvToast.show('title-error-toast');
                        } else if (error.response.data.errors.message) {
                            this.messageError = error.response.data.errors.message[0];
                            this.$bvToast.show('message-error-toast');
                        }
                    }

                });

            },
            resetForm() {
                this.contacts.name = "";
                this.contacts.email = "";
                this.contacts.title = "";
                this.contacts.message = "";
            }

        }
    }
</script>

<style scoped>
    section {
        background-color: #f9f9ff;
        padding: 60px 0;
    }

    h3 {
        font-size: 2.2rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 5rem;
        position: relative;
        line-height: .5;
    }

    h3:before, h3:after {
        content: "";
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        background: #ffa260;
    }

    h3:before {
        bottom: -31px;
        width: 100px;
        height: 2px;
    }

    h3:after {
        bottom: -35px;
        width: 10px;
        height: 10px;
        border-radius: 8px;
    }

    form .row {
        direction: ltr;
    }

    input, textarea {
        display: block;
        width: 100%;
        height: 48px;
        padding: 10px 24px;
        font-size: 15px;
        font-weight: 400;
        border-radius: 25px;
        line-height: 1.6;
        color: #333;
        background-color: #fff;
        background-image: none;
        border: solid 1px #90acd1;
        -webkit-box-shadow: none;
        box-shadow: none;
        transition: .3s;
        text-align: left;
    }

    input::placeholder, textarea::placeholder {
        text-align: left;
    }

    textarea {
        height: 170px;
    }

    input:focus, textarea:focus,
    input:active, textarea:active {
        border: 1px solid #ffa260;
    }

    button,
    button:active,
    button:focus {
        background: #90acd1;
        color: #fff;
        font-size: 16px;
        padding: 8px 25px;
        border-radius: 25px;
        border: transparent;
        transition: 0.3s;
        position: relative;
        display: block;
        width: 160px;
        margin-right: auto;
        margin-top: 30px;
        text-align: center;
        box-shadow: none !important;
    }

    button:hover {
        outline: none !important;
        text-decoration: none;
        color: #fff;
        box-shadow: inset -160px 0 0 0 #ffa260 !important;
    }

    .social-row {
        display: flex;
        direction: ltr;
        align-items: center;
        margin-bottom: 20px;
    }

    .social-info {
        display: flex;
        flex-direction: column;
    }

    .socail-img {
        border: 2px solid #ffa260;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }

    .socail-img img {
        width: 35px;
    }

    .social-info span:first-child {
        font-weight: bold;
    }

    .social-info span {
        text-align: left;
        direction: ltr;
    }

    .connection-way {
        color: #90acd1;
        transition: .3s;
        text-decoration: underline;
        direction: ltr;
    }

    .connection-way:hover {
        color: #ffa260;
        text-decoration: underline;
    }

    @media (max-width: 768px) {
        button,
        button:active,
        button:focus {
            width: 100%;
            margin: 10px 0 40px 0;
        }

        button:hover {
            outline: none !important;
            text-decoration: none;
            color: #fff;
            box-shadow: inset -550px 0 0 0 #ffa260 !important;
        }

        section {
            padding: 30px 0;
        }
    }
</style>
