<template>
    <div>
        <header id="header">

            <b-navbar toggleable="lg"
                      :class="(active)?'activeNav':''"
                      type="light"
                      fixed="top">
                <b-container fluid="md">
                    <b-navbar-brand href="/">
                        <img :src="'/img/header/logo.png'"
                             class="logo-img">
                    </b-navbar-brand>

                    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

                    <b-collapse id="nav-collapse" is-nav>
                        <!-- Right aligned nav items -->
                        <b-navbar-nav class="mr-auto">
                            <b-nav-item to="#skill">
                                Skills
                            </b-nav-item>
                            <b-nav-item to="#about"
                            >
                                About
                            </b-nav-item>
                            <b-nav-item to="#resume"
                            >
                                Resume
                            </b-nav-item>
                            <b-nav-item to="#contact"
                            >
                                Contact
                            </b-nav-item>
                            <b-nav-item to="/lastVersion/"
                                        target="_blank">
                                Last Version
                            </b-nav-item>
                        </b-navbar-nav>
                    </b-collapse>


                </b-container>
            </b-navbar>


            <b-container>
                <b-row>
                    <b-col md="6" cols="12">
                        <div class="header-wrapper-img">
                            <img :src="'/img/header/round-img-header.jpg'"
                                 class="header-img">
                        </div>
                    </b-col>
                    <b-col md="6" cols="12">
                        <div class="header-wrapper-txt">
                            <div class="header-text">
                                <h1>Hi, I'm Sara Ghaffari</h1>
                                <vue-typed-js :loop="false"
                                              :showCursor="false"
                                              :typeSpeed="70"
                                              :strings="['Front End Developer']">
                                    <h2 class="typing"></h2>
                                </vue-typed-js>
                            </div>
                        </div>
                    </b-col>

                </b-row>
            </b-container>
        </header>
    </div>
</template>

<script>
    export default {
        name: "Header",
        data() {
            return {
                active: false,
                contentOffset: ''
            }
        },
        // props: ['contentEl'],
        methods: {
            scrollListener: function (e) {
                this.active = window.scrollY > 50;
            },
            // scrollIntoView(event) {
            //
            //     event.preventDefault()
            //     const href = event.target.getAttribute('href');
            //
            //     const el = href ? document.querySelector(href) : null;
            //     if (el) {
            //         this.contentOffset = Object.values(this.contentEl)[0];
            //         this.contentOffset = el.offsetTop
            //     }
            // }
        },
        mounted: function () {
            window.addEventListener('scroll', this.scrollListener);
        },
        beforeDestroy: function () {
            window.removeEventListener('scroll', this.scrollListener);
        }
    }
</script>

<style scoped>
    .header-wrapper-txt {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }

    .header-text, .header-wrapper-img {
        display: flex;
    }

    .header-wrapper-img {
        justify-content: flex-start;
        align-items: center;
    }

    .typed-element {
        height: 70px;
    }

    .header-text {
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        height: 95px;
    }

    .activeNav {
        background-color: #f9f9ff;
        box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
    }

    #nav-collapse .navbar-nav {
        direction: ltr;
    }

    .logo-img {
        width: 60px;
    }

    nav li a {
        color: #000 !important;
    }

    h1 {
        font-size: 25px;
        height: 70px;
    }

    h2 {
        font-size: 40px;
        font-weight: bold;
    }

    header {
        background-color: #f9f9ff;
        min-height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 50px 0;
    }

    .header-img {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        border: 12px solid #90acd1;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-item a {
        transition: .3s;
        border-bottom: 2px solid transparent;
    }

    .nav-item:hover a {
        color: #ffa260 !important;
        border-bottom: 2px solid #ffa260;
    }

    @media (max-width: 576px) {
        .header-img[data-v-81e11538] {
            width: 100%;
            height: unset;
        }
    }

    @media (max-width: 768px) {
        .typed-element {
            text-align: center;
            margin-top: 15px;
        }

        .header-wrapper-img {
            justify-content: center;
            margin-top: 55px;
        }

        .header-wrapper-txt {
            justify-content: center;
            margin-top: 25px;
        }

        .header-text {
            align-items: center;
        }
    }

    @media (max-width: 990px) {
        #nav-collapse .navbar-nav {
            background-color: #f9f9ff;
        }
    }
</style>
