<template>
    <div>

        <back-to-top></back-to-top>
        <index-header></index-header>
        <index-skill></index-skill>
        <index-about></index-about>
        <index-resume></index-resume>
        <index-contact></index-contact>

    </div>
</template>

<script>
    import BackToTop from './BackToTop.vue'
    import IndexHeader from './IndexHeader.vue'
    import IndexSkill from "./IndexSkill";
    import IndexAbout from "./IndexAbout";
    import IndexResume from "./IndexResume";
    import IndexContact from "./IndexContact";

    export default {
        // data() {
        //     return {
        //         contentEl: ''
        //     }
        // },
        components: {
            'back-to-top': BackToTop,
            'index-header': IndexHeader,
            'index-skill': IndexSkill,
            'index-about': IndexAbout,
            'index-resume': IndexResume,
            'index-contact': IndexContact,
        },
        // methods: {
        //     passSkill(skillEl) {
        //         this.contentEl = skillEl;
        //     }
        // }
    }
</script>
<style lang="scss">

    @import 'resources/sass/custom.scss';
    // Import Bootstrap and BootstrapVue source SCSS files
    @import '~bootstrap/scss/bootstrap.scss';

    @import '~bootstrap-vue/src/index.scss';

    // Import custom SASS variable overrides, or alternatively
    // define your variable overrides here instead


    // General style overrides and custom classes
    * {
        padding: 0;
        margin: 0;
        direction: rtl;
        scroll-behavior: smooth;
    }

    button:focus, input:focus, textarea:focus {
        outline: none;
    }

    #success-toast {
        border-left: 3px solid #01af8f;
    }

    #name-error-toast,
    #email-error-toast,
    #title-error-toast,
    #message-error-toast,
    #general-error-toast,
    #prevent-submit-toast {
        border-left: 3px solid red;
    }

    .toast-body {
        direction: ltr;
        position: relative;
        text-align: center;
    }


    #success-toast .toast-body:before,
    #name-error-toast .toast-body:before,
    #email-error-toast .toast-body:before,
    #title-error-toast .toast-body:before,
    #message-error-toast .toast-body:before,
    #general-error-toast .toast-body:before,
    #prevent-submit-toast .toast-body:before {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 6px;
        left: 10px;
    }

    #success-toast .toast-body:before {
        content: url(/img/contact/success.png);

    }

    #name-error-toast .toast-body:before,
    #email-error-toast .toast-body:before,
    #title-error-toast .toast-body:before,
    #message-error-toast .toast-body:before,
    #general-error-toast .toast-body:before,
    #prevent-submit-toast .toast-body:before {
        content: url(/img/contact/danger.png);
    }
</style>


