<template>
    <div class="skill-list">
        <div class="skill-icons">
            <b-container fluid>
                <b-row>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="HTML5">
                            <img :src="'/img/skills/html.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="CSS3">
                            <img :src="'/img/skills/css.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Javascript">
                            <img :src="'/img/skills/javascript.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Jquery">
                            <img :src="'/img/skills/jquery.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Bootstrap">
                            <img :src="'/img/skills/bootstrap.png'">
                        </b-button>
                    </b-col>

                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Vue">
                            <img :src="'/img/skills/vue.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Sass">
                            <img :src="'/img/skills/sass.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Php">
                            <img :src="'/img/skills/php.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Mysql">
                            <img :src="'/img/skills/mysql.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="auto" md="2" sm="3" cols="4" class="mb-3">
                        <b-button v-b-tooltip.hover="{ variant: 'personalOrange' }"
                                  title="Laravel">
                            <img :src="'/img/skills/laravel.png'">
                        </b-button>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>
<style scoped>
    .skill-icons .row {
        justify-content: center;
    }

    .skill-icons button {
        background: none;
        background-color: #fff;
        box-shadow: 11px 10px 38px rgb(0 0 0 / 12%);
        border-radius: .63rem;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        border: 1px solid #ccc;
    }

    .skill-icons button:focus,
    .skill-icons button:active {
        border: 1px solid #90acd1 !important;
        outline: none;
        background: none;
        background-color: #fff !important;
        box-shadow: 11px 10px 38px rgb(0 0 0 / 12%) !important;
    }

    .skill-icons button:hover {
        border: 1px solid #ffa260;
        background: none;
        background-color: #fff;

    }

    .skill-icons button img {
        width: 48px;
    }

    .tooltip-inner {
        color: #fff !important;
    }

    @media (max-width: 576px) {
        .col-4 {
            direction: ltr;
            padding-left: 0;
        }
    }
</style>
