<template>
    <div class="tools-list">
        <div class="tool-icons">
            <b-container fluid>
                <b-row>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Ajax">
                            <img :src="'/img/skills/ajax.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Cpanel">
                            <img :src="'/img/skills/cpanel.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Directadmin">
                            <img :src="'/img/skills/directadmin.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Gitlab">
                            <img :src="'/img/skills/gitlab.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Google Search Console">
                            <img :src="'/img/skills/google-search-console.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Kavenegar">
                            <img :src="'/img/skills/kavenegar.png'">
                        </b-button>
                    </b-col>

                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Najva">
                            <img :src="'/img/skills/najva.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Npm">
                            <img :src="'/img/skills/npm.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Phpstorm">
                            <img :src="'/img/skills/phpstorm.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Slack">
                            <img :src="'/img/skills/slack.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Taskulu">
                            <img :src="'/img/skills/taskulu.png'">
                        </b-button>
                    </b-col>
                    <b-col lg="2" sm="3" cols="4" class="mb-3 pl-0">
                        <b-button
                            v-b-tooltip.hover="{ variant: 'personalOrange' }"
                            title="Trello">
                            <img :src="'/img/skills/trello.png'">
                        </b-button>
                    </b-col>
                </b-row>
            </b-container>
        </div>
    </div>
</template>
<style>
    .tool-icons .row {
        justify-content: center;
    }

    .tool-icons button {
        background: none;
        background-color: #fff;
        box-shadow: 11px 10px 38px rgb(0 0 0 / 12%);
        border-radius: .63rem;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        border: 1px solid #ccc;
    }

    .tool-icons button:hover {
        border: 1px solid #ffa260;
        background: none;
        background-color: #fff;
    }

    .tool-icons button:focus,
    .tool-icons button:active {
        border: 1px solid #90acd1 !important;
        outline: none;
        background: none;
        background-color: #fff !important;
        box-shadow: 11px 10px 38px rgb(0 0 0 / 12%) !important;
    }

    .tool-icons button img {
        width: 48px;
    }

    .tooltip-inner {
        color: #fff !important;
    }

    @media (max-width: 576px) {
        .col-4 {
            direction: ltr;
            padding-left: 0;
        }
    }
</style>
